<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>task3</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button id="leave1" shape="round">Abbrechen</ion-button>
  <ion-alert
    trigger="leave1"
    header="Willst du wirklich abbrechen?"
    [buttons]="alertButtons"
  ></ion-alert>
  <ion-button>scan</ion-button>
  <ion-button (click)="nextPage()">continue</ion-button>

  <ion-list>
    <ion-item *ngFor="let barcode of barcodes">
      <ion-label position="stacked">{{ barcode.format }}</ion-label>
      <ion-input type="text" [value]="barcode.rawValue"></ion-input>
    </ion-item>
  </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="scan()" [disabled]="!isSupported">
      <ion-icon name="scan"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
https://ionic.io/blog/how-to-build-an-ionic-barcode-scanner-with-capacitor
