<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Geolocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Geolocation</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab horizontal="end">
    <ion-button id="leave" shape="round">Abbrechen</ion-button>
    <ion-alert
      trigger="leave"
      header="Willst du wirklich abbrechen?"
      [buttons]="alertButtons"
    ></ion-alert>
  </ion-fab>

  <ion-item>
    <ion-label>
      <br />
      <br />
      <br />
      Hier beginnt eure Reise. Begebt euch zum Ping-Pong Tisch (folgende
      Koordinaten: 47.071995, 8.348945) um weiter zu kommen und eine Avocado zu
      finden.
    </ion-label>
  </ion-item>

  <ion-label *ngIf="coordinatesMatch"> Ziel erreicht</ion-label>

  <ion-button *ngIf="coordinatesMatch" (click)="nextPage()"
    >continue</ion-button
  >
</ion-content>
